<div class="footer">
    <div class="footer-content">
        <div class="footer-column footer-logo-socials">
            <div class="footer-logo">
                <img width="100%" src="/soundsphere/images/soundsphere.png">
            </div>
            <div style="min-height: 25px;">
                <div class="footer-socials">
                    <a href="/">
                        <img src="/soundsphere/images/ig.png">
                    </a>
                    <a href="/">
                        <img src="/soundsphere/images/fb.png">
                    </a>
                    <a href="/">
                        <img src="/soundsphere/images/x.png">
                    </a>
                    <a href="/">
                        <img src="/soundsphere/images/tt.png">
                    </a>
                </div>
            </div>
        </div>
        <div class="footer-column footer-detail-column">
            <h3>Company</h3>
            <a href="/">About Us</a>
            <a href="/">Reviews</a>
            <a href="/">Terms & Conditions</a>
            <a href="/">Privacy Policy</a>
            <a href="/">Contact Us</a>
        </div>
        <div class="footer-column footer-detail-column">
            <h3>Support</h3>
            <a href="/">FAQs</a>
            <a href="/">Forgot Password</a>
        </div>
    </div>
</div>
