<div class="header">
    <div class="header-content">
        <div class="header-column header-logo">
            <img width="100%" src="/soundsphere/images/soundsphere.png">
        </div>
        <div class="header-column header-nav">
            <nav>
                <a>Albums</a>
                <a>My Reviews</a>
            </nav>
        </div>
        <div class="header-column header-user-actions">
            <div>
                <a class="profile-button"><i class="fa-solid fa-user"></i></a>
            </div>
            <div>
                <p>Welcome <a>USERNAME</a></p>
            </div>
        </div>
    </div>
</div>
