:root {
    --black: #000000;
    --dark-grey: #222222;
    --light-grey: #3B3B3B;
    --purple: #9C2BFF;
    --light-blue-main: #0062FF;
    --light-blue-second: #007BFF;
    --yellow: #FFBB00;
}

body {
    margin: 0;
}

.header {
    width: 100%;
    background-color: var(--dark-grey);
    color: white;
    text-align: center;
    padding: 20px;
}

.header-content {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    width: 250px;
}
