<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }} | Rythmic</title>
  <link rel="stylesheet" href="/assets/main.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" integrity="sha512-...snipped..." crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

  <div id="flash-message-container"></div>
  
  {% include header.html %}

  <main>
    {{ content }}
  </main>

  {% include footer.html %}

  <script src="/assets/main.js"></script>
  
</body>
</html>
